<app-page-banner [title]="title" [subTitle]="subTitle"></app-page-banner> 

<main>

    <section class="top-header-section">

        <div>

            <h3>
                Ask for your previously captured form information.
            </h3>

            <mat-form-field appearance="outline">
                <mat-label>Draft Reference Number <span class="required-field">required</span></mat-label>
                <input appRemoveSpaces matInput [formControl]="DraftReferenceNumber">
            </mat-form-field>  
            
            <button mat-raised-button (click)="onGetSavedDraft()">
                Send
            </button>

        </div>

    </section>

    <header class="main-header">

        <p>
            Please use the form below to register an APPLICATION TO UPDATE REGISTER AFTER OPERATION OF HERMAPHRODITE. 
            Fill in all the fields that are marked required. In-case you captured some of your information and you
            saved a draft. Please enter your draft reference number above to retrieve the information.
        </p>

    </header>

    <mat-horizontal-stepper 
        [linear]="isLinear" 
        labelPosition="bottom" #stepper>

        <!-- <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup"> -->
        <mat-step>
            <ng-template matStepLabel>
                <h3>PARENT / GUARDIAN</h3>
                <p>Parent / Guardian's Information.</p>                
            </ng-template>

            <form [formGroup]="formParent">         
                <mat-form-field appearance="outline">
                    <mat-label>Surname <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="ParentSurname">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Given Name <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="ParentGivenName">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Other Name <span class="optional-field">optional</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="ParentOtherName">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>National Identification Number (NIN) <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="ParentNIN">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Card Number<span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="ParentCardNumber">
                </mat-form-field>

                <h3 class="margin-bottom-20">Place of Residence (Where do you stay ?) </h3>

                <mat-form-field appearance="outline">
                    <mat-label>Country <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="ParentCountryOfResidence">
                        <mat-option value="1">Uganda</mat-option>
                        <mat-option value="2">Kenya</mat-option>
                        <mat-option value="3">Tanzania</mat-option>
                        <mat-option value="4">England</mat-option>
                    </mat-select>
                </mat-form-field>                  

                <mat-form-field appearance="outline">
                    <mat-label>District <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="ParentDistrictOfResidence">
                        <mat-option value="1">Kampala</mat-option>
                        <mat-option value="2">Wakiso</mat-option>
                        <mat-option value="3">Entebbe</mat-option>
                        <mat-option value="4">Jinja</mat-option>
                    </mat-select>
                </mat-form-field>  

                <mat-form-field appearance="outline">
                    <mat-label>County <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="ParentCountyOfResidence">
                        <mat-option value="1">Uganda</mat-option>
                        <mat-option value="2">Kenya</mat-option>
                        <mat-option value="3">Tanzania</mat-option>
                        <mat-option value="4">England</mat-option>
                    </mat-select>
                </mat-form-field>                  

                <mat-form-field appearance="outline">
                    <mat-label>Sub County <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="ParentSubCountyOfResidence">
                        <mat-option value="1">Uganda</mat-option>
                        <mat-option value="2">Kenya</mat-option>
                        <mat-option value="3">Tanzania</mat-option>
                        <mat-option value="4">England</mat-option>
                    </mat-select>
                </mat-form-field>                  
                
                <mat-form-field appearance="outline">
                    <mat-label>Parish / Ward <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="ParentParishOfResidence">
                        <mat-option value="1">Uganda</mat-option>
                        <mat-option value="2">Kenya</mat-option>
                        <mat-option value="3">Tanzania</mat-option>
                        <mat-option value="4">England</mat-option>
                    </mat-select>
                </mat-form-field>            
                
                <mat-form-field appearance="outline">
                    <mat-label>Village <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="ParentVillageOfResidence">
                </mat-form-field>                
            </form>

            <div class="button-wrapper single-button">
                <button mat-button class="next-btn" color="primary" matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>
                <h3>PREVIOUS INFORMATION</h3>
                <p>The previously registered information about the Child.</p>                
            </ng-template>

            <form [formGroup]="formPrevious">         
                <mat-form-field appearance="outline">
                    <mat-label>Surname <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="PreviousSurname">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Given Name <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="PreviousGivenName">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Other Name <span class="optional-field">optional</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="PreviousOtherName">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Previous Sex <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="PreviousSex">
                        <mat-option value="1">Male</mat-option>
                        <mat-option value="2">Female</mat-option>
                    </mat-select>
                </mat-form-field>                  

                <mat-form-field appearance="outline">
                    <mat-label>Date of Birth <span class="required-field">required</span></mat-label>
                    <input color="accent" matInput [max]="maxDate" placeholder="Enter the child's date of birth" formControlName="PreviousDateOfBirth" [matDatepicker]="dob">
                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                    <mat-datepicker #dob disabled="false"></mat-datepicker>
                    <!-- <mat-error *ngIf="step2FormGroup.get('dateOfBirth').invalid">{{ getDateOfBirthErrorMessage() }}</mat-error>     -->
                    <mat-hint align="end">Use the icon above to choose a date</mat-hint>
                </mat-form-field>    
                
                <mat-form-field appearance="outline">
                    <mat-label>National Identification Number (NIN) <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="PreviousNIN">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Card Number<span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="PreviousCardNumber">
                </mat-form-field>                        
            </form>

            <div class="button-wrapper">
                <button mat-button class="back-btn" matStepperPrevious>Back</button>
                <button mat-button class="next-btn" color="primary" matStepperNext>Next</button>
            </div>
        </mat-step>        

        <mat-step>
            <ng-template matStepLabel>
                <h3>NEW INFORMATION</h3>
                <p>The new information about the Child.</p> 
            </ng-template>

            <form [formGroup]="formNewName">
                <mat-form-field appearance="outline">
                    <mat-label>Surname <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="NewSurname">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Given Name <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="NewGivenName">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Other Name <span class="optional-field">optional</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="NewOtherName">
                </mat-form-field>    

                <!-- Set the new Sex based on what they select as the previous sex of the Child. -->
                <mat-form-field appearance="outline">
                    <mat-label>New Sex <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="NewSex">
                        <mat-option value="1">Male</mat-option>
                        <mat-option value="2">Female</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>

            <div class="button-wrapper">
                <button mat-button class="back-btn" matStepperPrevious>Back</button>
                <button mat-button class="next-btn" color="primary" matStepperNext>Next</button>
            </div>            
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>
                <h3>WITNESS</h3>
                <p>Information about the witness.</p> 
            </ng-template>

            <form [formGroup]="formWitness">
                <mat-form-field appearance="outline">
                    <mat-label>Surname <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="WitnessSurname">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Given Name <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="WitnessGivenName">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Other Name <span class="optional-field">optional</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="WitnessOtherName">
                </mat-form-field>    

                <mat-form-field appearance="outline">
                    <mat-label>National Identification Number (NIN) <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="WitnessNIN">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Card Number<span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="WitnessCardNumber">
                </mat-form-field>                   
            </form>

            <div class="button-wrapper">
                <button mat-button class="back-btn" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" (click)="onSubmit()">Submit to NIRA</button>
            </div>            
        </mat-step>

    </mat-horizontal-stepper>          

</main>