<app-page-banner [title]="title" [subTitle]="subTitle"></app-page-banner> 

<main>

    <section class="top-header-section">

        <div>

            <h3>
                Ask for your previously captured form information.
                <!-- Ask for your previously captured partial form information. -->
            </h3>

            <mat-form-field appearance="outline">
                <mat-label>Draft Reference Number <span class="required-field">required</span></mat-label>
                <input appRemoveSpaces matInput [formControl]="DraftReferenceNumber">
            </mat-form-field>  
            
            <button mat-raised-button (click)="onGetSavedDraft()">
                Send
            </button>

        </div>

    </section>

    <header class="main-header">

        <p>
            Please use the form below to APPLY TO INSPECT THE REGISTER / OBTAIN A COPY OF ENTRY IN THE REGISTER. 
            Fill in all the fields that are marked required. In-case you captured some of your information and you
            saved a draft. Please enter your draft reference number above to retrieve the information.
        </p>

    </header>

    <mat-horizontal-stepper [linear]="isLinear" labelPosition="bottom" #stepper>
        <mat-step>
            <ng-template matStepLabel>
                <h3>CONDITIONS & CROSS REFERENCE</h3>
                <p>Please note the following.</p>
            </ng-template>

            <form>

                <h3 class="margin-bottom-20">CONDITIONS</h3>
    
                <ol class="full-width">
    
                    <li>
                        Persons inspecting the Register may take brief
                        notes, but no document shall be copied unless
                        specifically authorised to obtain copies.                    
                    </li>
    
                    <li>
                        In no circumstances may any note or mark be
                        made on any Register, document or file produced
                        for inspection.
                    </li>
    
                </ol>
    
                <h3 class="margin-bottom-20">CROSS REFERENCE</h3>
    
                <ul class="full-width">
                    <li>Civil Procedure Rules SI No.711.</li>
                    <li>Local Governments Act Cap 243</li>
                </ul>            

            </form>

            <div class="button-wrapper single-button">
                <button mat-button class="next-btn" color="primary" matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>
                <h3>APPLICATION</h3>
                <p>Information about the application.</p>                
            </ng-template>

            <form [formGroup]="formCertification">
                <mat-form-field appearance="outline" class="full-wdith">
                    <mat-label>Type of Registration <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="TypeOfCertification">
                        <mat-option value="1">Birth</mat-option>
                        <mat-option value="2">Death</mat-option>
                    </mat-select>
                </mat-form-field>  
            </form>

            <div class="button-wrapper">
                <button mat-button class="back-btn" matStepperPrevious>Back</button>
                <button mat-button class="next-btn" color="primary" matStepperNext>Next</button>
            </div>
        </mat-step>

        <!-- Show the correct title depending on the certification type.  -->
        <mat-step>
            <ng-template matStepLabel>
                <h3>CHILD / DECEASED</h3>
                <p>Information about the Child / Deceased.</p>
            </ng-template>

            <form [formGroup]="formChildOrDeceased">
                <mat-form-field appearance="outline">
                    <mat-label>Surname <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="ChildOrDeceasedSurname">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Given Name <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="ChildOrDeceasedGivenName">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Other Name <span class="optional-field">optional</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="ChildOrDeceasedOtherName">
                </mat-form-field> 
                
                <mat-form-field appearance="outline">
                    <mat-label>Date of Birth/Death<span class="required-field">required</span></mat-label>
                    <input color="accent" matInput [max]="maxDate" formControlName="DateOfBirthOrDeath" [matDatepicker]="dop">
                    <mat-datepicker-toggle matSuffix [for]="dop"></mat-datepicker-toggle>
                    <mat-datepicker #dop disabled="false"></mat-datepicker>
                    <mat-hint align="end">Use the icon above to choose a date</mat-hint>
                </mat-form-field>                 

                <mat-form-field appearance="outline">
                    <mat-label>National Identification Number (NIN) <span class="optional-field">optional</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="ChildOrDeceasedNIN">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Card Number<span class="optional-field">optional</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="ChildOrDeceasedCardNumber">
                </mat-form-field>  
            </form>

            <div class="button-wrapper">
                <button mat-button class="back-btn" matStepperPrevious>Back</button>
                <button mat-button class="next-btn" color="primary" matStepperNext>Next</button>                                
            </div>            
        </mat-step>      
        
        <mat-step>
            <ng-template matStepLabel>
                <h3>APPLICANT'S ADDRESS</h3>
                <p>Where do you stay ?</p>                
            </ng-template>

            <form [formGroup]="formResidence">
                <mat-form-field appearance="outline">
                    <mat-label>District <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="DistrictOfResidence">
                        <mat-option value="1">Kampala</mat-option>
                        <mat-option value="2">Wakiso</mat-option>
                        <mat-option value="3">Entebbe</mat-option>
                        <mat-option value="4">Jinja</mat-option>
                    </mat-select>
                </mat-form-field>  

                <mat-form-field appearance="outline">
                    <mat-label>County <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="CountyOfResidence">
                        <mat-option value="1">Uganda</mat-option>
                        <mat-option value="2">Kenya</mat-option>
                        <mat-option value="3">Tanzania</mat-option>
                        <mat-option value="4">England</mat-option>
                    </mat-select>
                </mat-form-field>                  

                <mat-form-field appearance="outline">
                    <mat-label>Sub County <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="SubCountyOfResidence">
                        <mat-option value="1">Uganda</mat-option>
                        <mat-option value="2">Kenya</mat-option>
                        <mat-option value="3">Tanzania</mat-option>
                        <mat-option value="4">England</mat-option>
                    </mat-select>
                </mat-form-field>                  
                
                <mat-form-field appearance="outline">
                    <mat-label>Parish / Ward <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="ParishOfResidence">
                        <mat-option value="1">Uganda</mat-option>
                        <mat-option value="2">Kenya</mat-option>
                        <mat-option value="3">Tanzania</mat-option>
                        <mat-option value="4">England</mat-option>
                    </mat-select>
                </mat-form-field>            
                
                <mat-form-field appearance="outline">
                    <mat-label>Village <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="VillageOfResidence">
                </mat-form-field>  
            </form>

            <div class="button-wrapper">
                <button mat-button class="back-btn" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" (click)="onSubmit()">Submit to NIRA</button>
            </div>            
        </mat-step>        

    </mat-horizontal-stepper>          

</main>