main {
    // display: flex;
    // flex-direction: column;
    // gap: 60px;
    background-color: #fff;

    article {
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
        // gap: 20px;
        // justify-content: center;
        // justify-items: center;
        justify-content: center;
        display: flex;
        gap: 50px;        

        section {
            background-color: #fff;
            padding: 7px;
            box-shadow: 0px 2px 2px -1px #000000a1;

        }
    }

    section.top-header-section {
        padding: 4px 0px 22px;
        padding: 20px 0px 30px;
        background-color: #efefef;
        margin-bottom: 24px;
        
        div {
            width: 500px;
            margin: auto;
            display: grid;
            grid-template-columns: auto auto;
            gap: 0px 30px;
            justify-content: center;
            align-items: center;
            
            h3 {
                grid-column: 1/-1;
                font-weight: 200;
                font-size: 16px;
                margin-bottom: 10px;
                font-family: Courgette;       
            }

            mat-form-field {
                height: 57px;
            }

            button {
                border-radius: 0px;
                font-weight: 300;
            }
        }

    }

    header.main-header {
        max-width: 100%;
        width: 1170px;
        margin: auto;
        background-color: #fff;

        p {
            font-size: 14px;
            font-weight: 400;
            text-align: justify;
            color: #bf212f;
            padding: 0px 115px;
            margin-left: 42px;
            line-height: 22px;       
        }

    }

    mat-horizontal-stepper {
        max-width: 100%;
        width: 1170px;
        margin: auto;
        padding: 5px 0px 60px;
        background-color: #fff;
        
        form {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 35px 70px;   
            
            mat-checkbox {
                display: flex;
                flex-direction: row;
                align-items: center;
                letter-spacing: .5px;
                font-size: 13px;
                font-weight: 300;
                grid-column: span 2;
            }  

            textarea {
                height: 50px;
                max-height: 80px;
                resize: none;
                line-height: 20px;
            }     
            
            .full-width {
                grid-column: 1/-1;
            }  
            
            .span-2-columns {
                grid-column: span 2;
            }  
            
            ol,
            ul {
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding-inline-start: 30px;
                margin-block-start: 0px;

                li {
                    font-size: 14px;
                    font-weight: 200;
                    color: rgba(0, 0, 0, 0.93);
                    text-align: justify;
                }
            }

            ul {
                list-style: square;
            }

            // div.mat-form-field-wrapper {
            //     border: 1px solid red;
            // }

            h3 {
                font-weight: 200;
                letter-spacing: .4px;
                margin: 0px;
                grid-column: 1/-1;

                span {
                    font-size: 14px;
                    font-weight: 100;                        
                }
            }    
            
            .margin-bottom-20 {
                margin-bottom: -20px;
            }

            header {
                height: 44px;
                grid-column: 1/-1;
                margin-bottom: -20px;
                position: relative;
                display: grid;
                grid-template-columns: 40px auto;
                justify-items: flex-start;
                align-items: center;
                background-color: #e9e9e9;
                gap: 15px;
                margin-top: 30px;  

                h3 {
                    grid-column: unset;
                }  

                div {
                    width: 44px;
                    height: 44px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #333;
                    overflow: hidden;

                    mat-icon {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;                        
                        transition: all 430ms ease-in-out;
                        color: #fff;
                    }
                }
                
                &:hover {
                    cursor: pointer;
                    background-color: #ddd;
                }
            }

            .no-top-margin {
                margin-top: 0px;
            }

            .top-margin-15 {
                margin-top: 15px;
            }

            section {
                border-bottom: 1px solid transparent;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 35px 70px;   
                grid-column: 1/-1;  
                height: 0px;    
                overflow-x: hidden;
                overflow-y: hidden;
                transition: all 200ms ease-in-out;  
                
                .table-wrapper {
                    width: 100%;
                    overflow-x: auto;
                    overflow-y: hidden;
                    border: 1px solid #e0e0e0;
        
                    table {
                        width: 100%;
                        min-width: 950px;
        
                        tr.selected-mat-data-row,
                        tr.mat-data-row:hover {
                            background-color: #f9f9f9;
                            cursor: pointer;
                        }
        
                        td.mat-cell, 
                        td.mat-footer-cell, 
                        th.mat-header-cell {
                            padding: 2px 5px;
                        }
        
                        .mat-column-Count {
                            width: 30px;
                            padding-left: 5px;
                            text-align: center;                  
                        }         
        
                        .mat-column-CreatedOn {
                            width: 160px;
        
                            span {
                                text-transform: lowercase;
                                font-weight: 700;
                            }                    
                        }

                        .mat-column-Name {
                            min-width: 100px;
                        }
        
                        .action-btn {
                            padding: 0px;
                            min-width: 0px;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: #f4f4f2;
                        }
        
                        .mat-column-Actions {
                            width: 60px;
                            text-align: center;
                        }
                    }
                }                
            }

            .two-columns {
                grid-template-columns: auto auto !important;
            }

            .expand-section.reduced-properties {
                padding: 5px;
                border: 0px;                
            }

            .no-bottom-border {
                border: 0px !important;
            }

            section.table-wrapper {
                display: flex;
                flex-direction: column;
                gap: 15px;

                button.add-item-button {
                    color: #fff;
                    background-color: #BF212F;
                    border-radius: 0px;
                    padding-left: 0px;
                    width: fit-content;
                    width: -moz-fit-content;
                    font-weight: 300;
        
                    .button-label {
                        display: flex;
                        flex-direction: row;
                        gap: 16px;
        
                        span {
                            line-height: 40px;
                        }
        
                        mat-icon {
                            width: 44px;
                            height: 42px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 20px !important;
                            background-color: #F91C24;
                        }
                    }
                }                
            }

            header.expand-section {

                div {
                    background-color: #D21E2B;

                    mat-icon {
                        transform: rotate(90deg);
                    }
                }
            }

            section.expand-section {
                height: 100%;
                // border-bottom: 1px solid #e0e0e0;
                padding-bottom: 20px; 
            }
        }

        .button-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 50px;

            button {
                min-width: 100px !important;
                border-radius: 0px;
            }

            button.next-btn,
            button.back-btn {
                background-color: #ebebeb;
                color: #333;
            }
        }

        .single-button {
            justify-content: flex-end;
        }
    }

    // article.chairperson {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    // }
}