main {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    transition: all 430ms ease-in-out;

    article {
        // min-height: 500px;
        // max-width: 100%;
        // width: 1170px;
        // margin: auto;    
        background-color: #F9F9F9; 
        background-color: #F0F0F0; 
        background-color: #efefef; 
    }
}