<main>
    <header>
        <h1>{{ child === null ? 'Add A Child' : 'Make Changes To The Information' }}</h1>

        <button mat-button (click)="onCloseDialog()">
            <mat-icon>clear</mat-icon>
        </button>
    </header>

    <form [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Application ID<span class="required-field">required</span></mat-label>
            <input appRemoveSpaces matInput formControlName="ChildApplicationID">
        </mat-form-field> 

        <mat-form-field appearance="outline">
            <mat-label>Surname <span class="required-field">required</span></mat-label>
            <input appRemoveSpaces matInput formControlName="ChildSurname">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Given Name <span class="required-field">required</span></mat-label>
            <input appRemoveSpaces matInput formControlName="ChildGivenName">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Other Name <span class="optional-field">optional</span></mat-label>
            <input appRemoveSpaces matInput formControlName="ChildOtherName">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Maiden Name <span class="optional-field">optional</span></mat-label>
            <input appRemoveSpaces matInput formControlName="ChildMaidenName">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Previous Name <span class="optional-field">optional</span></mat-label>
            <input appRemoveSpaces matInput formControlName="ChildPreviousName">
        </mat-form-field>    
        
        <mat-form-field appearance="outline">
            <mat-label>Sex <span class="required-field">required</span></mat-label>
            <mat-select formControlName="Sex">
                <mat-option value="1">Male</mat-option>
                <mat-option value="2">Female</mat-option>
            </mat-select>
        </mat-form-field>           
        
        <mat-form-field appearance="outline">
            <mat-label>Date of Birth <span class="required-field">required</span></mat-label>
            <input color="accent" matInput [max]="today" placeholder="Enter your date of marriage" formControlName="DateOfBirth" [matDatepicker]="dob">
            <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
            <mat-datepicker #dob disabled="false"></mat-datepicker>
            <!-- <mat-error *ngIf="step2FormGroup.get('dateOfBirth').invalid">{{ getDateOfBirthErrorMessage() }}</mat-error>     -->
            <mat-hint align="end">Use the icon above to choose a date</mat-hint>
        </mat-form-field> 

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Place of Birth <span class="optional-field">optional</span></mat-label>
            <input matInput formControlName="PlaceOfBirth">
        </mat-form-field>              
    </form>

    <section>
        <button color="warn" mat-button (click)="form.reset()" [disabled]="processing">
            Clear Form
        </button>

        <button 
            [ngClass]="{'inline-processing-btn': processing}" 
            color="primary" 
            mat-raised-button 
            (click)="onSave()" 
            [disabled]="form.invalid || processing">
            <app-inline-mat-spinner *ngIf="processing"></app-inline-mat-spinner>                  
            <span> {{ child === null ? 'Save' : 'Save  Changes'  }} </span>
        </button>
    </section>
</main>